.image {
    background: url(../images/book.jpg) no-repeat;
    background-size: contain;
}

@media (min-width: 576px) {
    .text {
        font-size: 12px;
    }
}

hr.solid {
    border-top: 3px solid #bbb;
}